.hylyt-mode :not(input):not(textarea)::-moz-selection,
.hylyt-mode :not(input):not(textarea)::selection {
  background-color: rgba(255, 102, 102, 0.35) !important;
  color: inherit !important;
  cursor: default !important;
}

hylyt {
  background-color: rgba(255, 102, 102, 0.35) !important;
  color: inherit !important;
  cursor: default !important;
  text-shadow: none !important;
}

a > hylyt {
  cursor: pointer !important;
}
.hi-scroll-indicator {
  position: fixed;
  right: -8px;
  display: inline-block;
  border: 10px solid transparent;
  border-right: 15px solid rgba(255, 102, 102, 0.8);
  cursor: pointer;
  transition: top 200ms ease-in, right 200ms ease-in, border-color 200ms;
}
.hi-scroll-indicator:hover, .hi-scroll-indicator.active {
  right: 0;
  border-right-color: #f66;
}
